# PACKAGE IGNORE
/packages/common/dist
/packages/common/node_modules

# SERVICE IGNORE
/services/auth-service/dist
/services/auth-service/node_modules
/services/gateway-service/dist
/services/gateway-service/node_modules
/services/user-service/dist
/services/user-service/node_modules
/services/chat-service/dist
/services/chat-service/node_modules

# MAIN FOLDER IGNORE
/node_modules